<?xml version="1.0" encoding="utf-8"?>
<!-- 
 ModbusExcel postbuild event tries to copy this file to Excel;

   copy "C:\dev\repos\Got\ModbusExcel\ModbusExcel\NLog.config" "C:\Program Files (x86)\Microsoft Office\Office15\NLog.config"

but default permissions don't allow it so you will need to do it ONCE yourself as Administrator.

Change the folder and filename below to suit your needs.

-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="c:/temp/excelmodbus.logAP.txt" />
    <target name="console" xsi:type="Console" />
  </targets>
  <rules>
    <!-- Fatal, Error, Warn, Info, Debug, Trace -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>